internet/WebApplication2/web/WEB-INF/wsdl/localhost_8080/WebApplication1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internet/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internet/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://internet/" schemaLocation="http://localhost:8080/WebApplication1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="reload">
<part name="parameters" element="tns:reload"/>
</message>
<message name="reloadResponse">
<part name="parameters" element="tns:reloadResponse"/>
</message>
<message name="remain">
<part name="parameters" element="tns:remain"/>
</message>
<message name="remainResponse">
<part name="parameters" element="tns:remainResponse"/>
</message>
<message name="getWaiting">
<part name="parameters" element="tns:getWaiting"/>
</message>
<message name="getWaitingResponse">
<part name="parameters" element="tns:getWaitingResponse"/>
</message>
<message name="bankAccount">
<part name="parameters" element="tns:bankAccount"/>
</message>
<message name="bankAccountResponse">
<part name="parameters" element="tns:bankAccountResponse"/>
</message>
<message name="insertC">
<part name="parameters" element="tns:insertC"/>
</message>
<message name="insertCResponse">
<part name="parameters" element="tns:insertCResponse"/>
</message>
<message name="insertS">
<part name="parameters" element="tns:insertS"/>
</message>
<message name="insertSResponse">
<part name="parameters" element="tns:insertSResponse"/>
</message>
<message name="logoutC">
<part name="parameters" element="tns:logoutC"/>
</message>
<message name="logoutCResponse">
<part name="parameters" element="tns:logoutCResponse"/>
</message>
<message name="loginC">
<part name="parameters" element="tns:loginC"/>
</message>
<message name="loginCResponse">
<part name="parameters" element="tns:loginCResponse"/>
</message>
<message name="activeAcc">
<part name="parameters" element="tns:activeAcc"/>
</message>
<message name="activeAccResponse">
<part name="parameters" element="tns:activeAccResponse"/>
</message>
<message name="insertNum">
<part name="parameters" element="tns:insertNum"/>
</message>
<message name="insertNumResponse">
<part name="parameters" element="tns:insertNumResponse"/>
</message>
<message name="waitingApp">
<part name="parameters" element="tns:waitingApp"/>
</message>
<message name="waitingAppResponse">
<part name="parameters" element="tns:waitingAppResponse"/>
</message>
<message name="checkreload">
<part name="parameters" element="tns:checkreload"/>
</message>
<message name="checkreloadResponse">
<part name="parameters" element="tns:checkreloadResponse"/>
</message>
<message name="fam">
<part name="parameters" element="tns:fam"/>
</message>
<message name="famResponse">
<part name="parameters" element="tns:famResponse"/>
</message>
<portType name="NewWebService">
<operation name="reload">
<input wsam:Action="http://internet/NewWebService/reloadRequest" message="tns:reload"/>
<output wsam:Action="http://internet/NewWebService/reloadResponse" message="tns:reloadResponse"/>
</operation>
<operation name="remain">
<input wsam:Action="http://internet/NewWebService/remainRequest" message="tns:remain"/>
<output wsam:Action="http://internet/NewWebService/remainResponse" message="tns:remainResponse"/>
</operation>
<operation name="getWaiting">
<input wsam:Action="http://internet/NewWebService/getWaitingRequest" message="tns:getWaiting"/>
<output wsam:Action="http://internet/NewWebService/getWaitingResponse" message="tns:getWaitingResponse"/>
</operation>
<operation name="bankAccount">
<input wsam:Action="http://internet/NewWebService/bankAccountRequest" message="tns:bankAccount"/>
<output wsam:Action="http://internet/NewWebService/bankAccountResponse" message="tns:bankAccountResponse"/>
</operation>
<operation name="insertC">
<input wsam:Action="http://internet/NewWebService/insertCRequest" message="tns:insertC"/>
<output wsam:Action="http://internet/NewWebService/insertCResponse" message="tns:insertCResponse"/>
</operation>
<operation name="insertS">
<input wsam:Action="http://internet/NewWebService/insertSRequest" message="tns:insertS"/>
<output wsam:Action="http://internet/NewWebService/insertSResponse" message="tns:insertSResponse"/>
</operation>
<operation name="logoutC">
<input wsam:Action="http://internet/NewWebService/logoutCRequest" message="tns:logoutC"/>
<output wsam:Action="http://internet/NewWebService/logoutCResponse" message="tns:logoutCResponse"/>
</operation>
<operation name="loginC">
<input wsam:Action="http://internet/NewWebService/loginCRequest" message="tns:loginC"/>
<output wsam:Action="http://internet/NewWebService/loginCResponse" message="tns:loginCResponse"/>
</operation>
<operation name="activeAcc">
<input wsam:Action="http://internet/NewWebService/activeAccRequest" message="tns:activeAcc"/>
<output wsam:Action="http://internet/NewWebService/activeAccResponse" message="tns:activeAccResponse"/>
</operation>
<operation name="insertNum">
<input wsam:Action="http://internet/NewWebService/insertNumRequest" message="tns:insertNum"/>
<output wsam:Action="http://internet/NewWebService/insertNumResponse" message="tns:insertNumResponse"/>
</operation>
<operation name="waitingApp">
<input wsam:Action="http://internet/NewWebService/waitingAppRequest" message="tns:waitingApp"/>
<output wsam:Action="http://internet/NewWebService/waitingAppResponse" message="tns:waitingAppResponse"/>
</operation>
<operation name="checkreload">
<input wsam:Action="http://internet/NewWebService/checkreloadRequest" message="tns:checkreload"/>
<output wsam:Action="http://internet/NewWebService/checkreloadResponse" message="tns:checkreloadResponse"/>
</operation>
<operation name="fam">
<input wsam:Action="http://internet/NewWebService/famRequest" message="tns:fam"/>
<output wsam:Action="http://internet/NewWebService/famResponse" message="tns:famResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWaiting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoutC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activeAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="waitingApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkreload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplication1/NewWebService"/>
</port>
</service>
</definitions>